# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmd
*.symvers
apptest
*.ko
*.mod.c
*.order

# qt cache
*.stash
Makefile
qmake_qmake_immediate.qrc
*.pro.user.*